.principal__heading {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
}

  .heading__titulo {
    padding: 1rem 0rem;
    font-size: 2.4rem;
    color: var(--color__font--default);
    margin: 2rem 0rem;
  }

  .heading__botao {
    width: fit-content;
    padding: 0rem 1.5rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

.principal__lista-cartao {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

  .lista-cartoes__cartao {
    width: calc(50% - 1.5rem);
    margin-bottom: 1rem;
  }

    .cartao__imagem {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: calc(48vw - 1rem);
      background: #000 no-repeat center / cover;
      margin: 0;
    }

      .imagem__editar:hover, .imagem__deletar:hover, .imagem__editar:focus-within, .imagem__deletar:focus-within {
        filter: brightness(.8);
      }
      
        .imagem__editar {
          background: transparent url(../../img/ui/main/edit.svg) no-repeat center / 90%;
          transition: var(--transition__default);
        }

        .imagem__deletar {
          background: transparent url(../../img/ui/main/delete.svg) no-repeat center / 90%;
          border: none;
          cursor: pointer;
          transition: var(--transition__default);
        }

    .cartao__descricao {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem .75rem 1.5rem;
      background-color: var(--color__background--header);
      box-sizing: border-box;
    }

      .descricao__titulo,
      .descricao__preco,
      .descricao__link {
        color: var(--color__font--default);
        margin: 0;
      }

        .descricao__titulo {
          font-size: 1.4rem;
          font-weight: normal;
          padding: 0rem 0rem 1.5rem 0rem;
          margin: 0rem;
        }

        .descricao__preco {
          font-size: 1.6rem;
          font-weight: bold;
          padding: 0rem 0rem 0.75rem 0rem;
          margin: 0rem;
        }

        .descricao__link {
          width: fit-content;
          font-size: 1.4rem;
          font-weight: bold;
          color: var(--color__font--link);
          background: transparent url(../../img/ui/main/external-link.svg) no-repeat right 50% / 1.25rem;
          padding: 0.75rem 1.5em .75rem 0rem;
          margin: 0rem;
        }

@media screen and (min-width:428px) {

}

@media screen and (min-width:728px) {
  .principal__heading {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem 0rem 3rem;
  }
  
    .heading__titulo {
      padding: 2.5rem 0 4.5rem 0;
      margin: 0;
      font-size: 3.6rem;
    }
  
    .heading__botao {}
  
  .principal__lista-cartao {
    padding: 0rem 3rem;
    justify-content: space-between;
  }
  
    .lista-cartoes__cartao {
      width: calc(33.333% - 2rem);
    }
  
      .cartao__imagem {
        height: calc(33.333vw - 4rem);
      }
  
        .imagem__editar {
          width: 5.5rem;
          height: 5.5rem;
        }
  
        .imagem__deletar {
          width: 5.5rem;
          height: 5.5rem;
        }
  
      .cartao__descricao {}
  
        .descricao__titulo,
        .descricao__preco,
        .descricao__link {}
  
          .descricao__titulo {}
  
          .descricao__preco {}
  
          .descricao__link {}
}

@media screen and (min-width:1024px) {

}

@media screen and (min-width:1280px) {
  .principal__heading {
    padding: 2rem 8.4% 0rem 8.4%;
  }
  
    .heading__titulo {
      font-size: 4.8rem;
    }
  
    .heading__botao {}
  
  .principal__lista-cartao {
    padding: 0rem 8.4%;
    justify-content: center;
  }
  
    .lista-cartoes__cartao {
      width: 15%;
      margin: 0 .833%;
    }
  
      .cartao__imagem {
        height: 12.48vw;
      }
  
        .imagem__editar {
          width: 5rem;
          height: 5rem;
        }
  
        .imagem__deletar {
          width: 5rem;
          height: 5rem;
        }
  
      .cartao__descricao {}
  
        .descricao__titulo,
        .descricao__preco,
        .descricao__link {}
  
          .descricao__titulo {}
  
          .descricao__preco {}
  
          .descricao__link {}
}

@media screen and (min-width:1920px) {

}